body {
    font-family: serif;
    font-weight: 500;
    text-align: center;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    color: black;
    background-color: #FFF;
    font-size: 14px;
    /* margin-top: 50px; */
  }

/*広告*/
.ad1{
    width: 70%;
    margin-top: 10px;
}

.ad2{
    width: 72%;
    margin-top: 20px;
}

/*ヘッダー*/
.site-header .site_name {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.site-header .oni {
    color: darkred;
}

/*メイン*/
/*Home=========================*/
.top-main-screen {
    background-image: url("./images/background.png");
    background-repeat: repeat;
    background-size: 60px 60px;
    background-color: white;
    width: 70%;
    height: 310px;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1.5px #000000;
    border-radius: 2px;
    padding: 50px 20px;
}

.top-main-screen-inner{
    background-image: url("./images/home_back.png");
    background-size: cover;
    background-color: white;
    width: 90%;
    height: 310px;
    margin: 0 auto;
    border: solid 0.5px #808080;
    border-radius: 5px;
}

.top-main-screen .text1 {
    font-size: 18px;
    margin-top: 100px;
    font-weight: bold;
    margin-bottom: 35px;
}

.top-main-screen .start_btn {
    width: 20%;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #383838;
    border-radius: 5px;
    padding: 5px 5px; 
    cursor: pointer;
    margin-bottom: 5px;
}

.top-main-screen .start_btn:hover{
    background-color: #808080;
}

.open_crea_question_modal .trigger_text{
    font-size: 12px;
    cursor: pointer;
    color: #000000;
}

.open_crea_question_modal .trigger_text:hover{
    color: #808080;
}

.crea_question_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.crea_question_modal-inner{
    position: absolute;
    top: 3%;
    right: 0;
    left: 0;
    width: 70%;
    height: 90%;
    min-width: 450px;
    padding-bottom: 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    overflow: auto;
    /* アニメーション */
    animation: fadeIn 0.3s linear;
    animation-fill-mode: both;
}

.crea_question_modal-content{
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.crea_question_modal-content .modal-close-btn{
    text-align:right;
}

.crea_question_modal-content .modal-close-btn .fa-times-circle{
    font-size:20px;
    color:#d3d3d3;
    cursor: pointer;
}

.crea_question_modal-content table{
    width: 95%;
    margin: 0 auto;
    /*table-layout: fixed;*/
}

.crea_question_modal-content table td{
    padding: 10px;
}

.NoCol{
    width: 20%;
}

.QuestionCol{
    width: 40%;
}

.AnswerCol{
    width: 40%;
}


/*Main=========================*/
.main-screen {
    background-image: url("./images/background.png");
    background-repeat: repeat;
    background-size: 60px 60px;
    background-color: white;
    width: 70%;
    height: 310px;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1.5px #000000;
    border-radius: 2px;
    padding: 50px 20px;
}

.main-screen .question-screen{
    background-color: white;
    width: 90%;
    height: 310px;
    margin: 0 auto;
    border: solid 1.5px white;
    border-radius: 5px;
}

.main-screen .question_no_box {
    width: 15%;
    padding: 5px 10px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
}

.main-screen .question_no_box .question_no{
    font-size:15px;
    font-weight: bold;
}

.main-screen .question_box {
    font-size: 20px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.main-screen .choice_box {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.main-screen .choice_box .options{
    text-align: center;
}

.main-screen .choice_box .options .option{
    cursor: pointer;
    width: 60%;
    margin: 0 auto;
    margin-bottom:10px;
    border: solid 1.5px #dcdcdc;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
}

.main-screen .choice_box .options .option:hover{
    background-color: #f5f5f5;
}

/*Result=========================*/
.result {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1.5px #000000;
    border-radius: 2px;
    padding: 20px 20px;
}

.result-inner{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border: solid 1.5px white;
    border-radius: 5px;
}

.result .result-text{
    margin-top:10px;
    margin-bottom:10px;
}

.result .result-text .class_text{
    font-size:30px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
}

.result .retry_btn{
    width: 10%;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #383838;
    border-radius: 5px;
    padding: 5px 5px; 
    cursor: pointer;
}

.result .retry_btn:hover{
    background-color: #808080;
}

.result .print_answer .print_answer_text{
    font-size:13px;
    cursor: pointer;
}

.result .print_answer .print_answer_text:hover{
    color:#808080;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
.modal-inner {
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
    width: 60%;
    min-width: 450px;
    padding-bottom: 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 4px 4px #c0c0c0; */
    border-radius: 9px;
    /* アニメーション */
    animation: fadeIn 0.3s linear;
    animation-fill-mode: both;
}

.modal-content{
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.modal-content .modal-close-btn{
    text-align:right;
}

.modal-content .modal-close-btn .fa-times-circle{
    font-size:20px;
    color:#d3d3d3;
    cursor: pointer;
}

.modal-content .fa-circle{
    color:red;
}

.modal-content .fa-times{
    color: blue;
}

.modal-content table{
    width: 95%;
    margin: 0 auto;
    /*table-layout: fixed;*/
}

.modal-content table td{
    padding: 10px;
}
/* ---------------------------- */
/* --- Animation --- */
/* ---------------------------- */
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


/*スマホ表示*/
@media screen and (max-width: 813px) {
    body {
        font-family: serif;
        font-weight: 500;
        text-align: center;
        min-width: 320px;
        max-width: 900px;
        margin: 0 auto;
        color: black;
        background-color: #FFF;
        font-size: 14px;
      }

    /*広告*/
    .ad1{
        width: 70%;
        margin-top: 10px;
    }

    .ad2{
        width: 85%;
        margin-top: 15px;
    }
    
    /*ヘッダー*/
    .site-header .site_name {
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
    }
    
    .site-header .oni {
        color: darkred;
    }
    
    /*メイン*/
    /*Home=========================*/
    .top-main-screen {
        background-image: url("./images/background.png");
        background-repeat: repeat;
        background-size: 60px 60px;
        background-color: white;
        width: 80%;
        height: 220px;
        margin: 0 auto;
        margin-top: 20px;
        border: solid 1.5px #000000;
        border-radius: 2px;
        padding: 40px 20px;
    }
    
    .top-main-screen-inner{
        background-image: url("./images/home_back_phone.png");
        background-size: cover;
        background-color: white;
        width: 100%;
        height: 220px;
        margin: 0 auto;
        border: solid 0.5px #808080;
        border-radius: 5px;
    }
    
    .top-main-screen .text1 {
        font-size: 12px;
        margin-top: 58px;
        margin-bottom: 13px;
    }
    
    .top-main-screen .start_btn {
        width: 20%;
        color: white;
        margin: 0 auto;
        font-size: 13px;
        font-weight: bold;
        background-color: #383838;
        border-radius: 5px;
        padding: 5px 5px; 
        cursor: pointer;
        margin-bottom: 3px;
    }
    
    .top-main-screen .start_btn:hover{
        background-color: #808080;
    }
    
    .open_crea_question_modal .trigger_text{
        font-size: 10px;
        cursor: pointer;
    }
    
    .open_crea_question_modal .trigger_text:hover{
        color: #808080;
    }
    
    .crea_question_modal{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .crea_question_modal-inner{
        position: absolute;
        top: 3%;
        right: 0;
        left: 0;
        width: 90%;
        height: 90%;
        min-width: 200px;
        padding-bottom: 10px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        overflow: auto;
        /* アニメーション */
        animation: fadeIn 0.3s linear;
        animation-fill-mode: both;
    }
    
    .crea_question_modal-content{
        width: 90%;
        background-color: rgb(255, 255, 255);
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    
    .crea_question_modal-content .modal-close-btn{
        text-align:right;
    }
    
    .crea_question_modal-content .modal-close-btn .fa-times-circle{
        font-size:20px;
        color:#d3d3d3;
        cursor: pointer;
    }
    
    .crea_question_modal-content table{
        width: 95%;
        margin: 0 auto;
        font-size: 10px;
        /*table-layout: fixed;*/
    }
    
    .crea_question_modal-content table td{
        padding: 10px;
    }
    
    .NoCol{
        width: 20%;
    }
    
    .QuestionCol{
        width: 40%;
    }
    
    .AnswerCol{
        width: 40%;
    }
    
    /*Main=========================*/
    .main-screen {
        background-image: url("./images/background.png");
        background-repeat: repeat;
        background-size: 60px 60px;
        background-color: white;
        width: 80%;
        height: 220px;
        margin: 0 auto;
        margin-top: 20px;
        border: solid 1.5px #000000;
        border-radius: 2px;
        padding: 40px 20px;
    }
    
    .main-screen .question-screen{
        background-color: white;
        width: 100%;
        height: 220px;
        margin: 0 auto;
        border: solid 1.5px white;
        border-radius: 5px;
    }
    
    .main-screen .question_no_box {
        width: 15%;
        margin: 5px;
        background-color: #f5f5f5;
        border-radius: 10px;
        text-align: center;
    }
    
    .main-screen .question_no_box .question_no{
        font-size: 10px;
        font-weight: bold;
    }
    
    .main-screen .question_box {
        font-size: 13px;
        width: 90%;
        height: 40px;
        margin: 0 auto;
        background-color: white;
        padding: 7px;
    }
    
    .main-screen .choice_box {
        font-size: 10px;
        width: 90%;
        margin: 0 auto;
        background-color: white;
        padding: 2px;
    }
    
    .main-screen .choice_box .options{
        text-align: center;
    }
    
    .main-screen .choice_box .options .option{
        cursor: pointer;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 7px;
        border: solid 1.5px #dcdcdc;
        border-radius: 5px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
    .main-screen .choice_box .options .option:hover{
        background-color: white;
    }
    
    /*Result=========================*/
    .result {
        background-color: white;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        border: solid 1.5px #000000;
        border-radius: 2px;
        padding: 20px 20px;
    }
    
    .result-inner{
        background-color: white;
        width: 100%;
        margin: 0 auto;
        border: solid 1.5px white;
        border-radius: 5px;
    }
    
    .result .result-text{
        font-size:13px;
        margin-top:10px;
        margin-bottom:10px;
    }
    
    .result .result-text .class_text{
        font-size:22px;
        font-weight:bold;
        margin-top:10px;
        margin-bottom:10px;
    }

    .result-image{
        width: 100%;
    }
    
    .result .retry_btn{
        width: 20%;
        color: white;
        margin: 0 auto;
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
        background-color: #383838;
        border-radius: 5px;
        padding: 5px 5px; 
        cursor: pointer;
    }
    
    .result .retry_btn:hover{
        background-color: #808080;
    }
    
    .result .print_answer .print_answer_text{
        font-size:10px;
        cursor: pointer;
    }
    
    .result .print_answer .print_answer_text:hover{
        color:#808080;
    }
    
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
      }
      
    .modal-inner {
        position: absolute;
        top: 5%;
        right: 0;
        left: 0;
        width: 90%;
        min-width: 200px;
        padding-bottom: 10px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 4px #c0c0c0;
        border-radius: 9px;
        /* アニメーション */
        animation: fadeIn 0.3s linear;
        animation-fill-mode: both;
    }
    
    .modal-content{
        width: 90%;
        background-color: rgb(255, 255, 255);
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .modal-content .modal-close-btn{
        text-align:right;
    }
    
    .modal-content .modal-close-btn .fa-times-circle{
        font-size:20px;
        color:#d3d3d3;
        cursor: pointer;
    }
    
    .modal-content .fa-circle{
        color:red;
    }
    
    .modal-content .fa-times{
        color: blue;
    }
    
    .modal-content table{
        width: 95%;
        margin: 0 auto;
        font-size: 9px;
        /*table-layout: fixed;*/
    }
    
    .modal-content table td{
        padding: 10px;
    }
    /* ---------------------------- */
    /* --- Animation --- */
    /* ---------------------------- */
    @keyframes fadeIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

}